body, html {
    height: 100%;
    scroll-behavior: smooth;
  }

.janeEyreTitle {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    background-color: transparent;
    font-size: 50px;
    color: white;
    padding: 30px;
    position: relative;
}

.janeEyre {
    background-image: url('pics/main.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100%;
}

.janeEyre2 {
    background-image: url('pics/houseFront.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 50%;
}

#janeDiv {
    width: 100px;
    height: 300px;
    text-align: center;
}

.introText {
    font-family: 'Jost', sans-serif;
    font-size: 25px;
}

#contentRow {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

.headStyles {
    font-family: 'Playfair Display', serif;;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
}

h3 {
    font-family: 'Playfair Display', serif;
    padding: 15px;
}

p {
    text-indent: 40px;
}

p.content {
    font-family: Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif;
    font-size: 20px;
}

ul {
    position: absolute;
    bottom: 100px;
    left: 10px;
}

ul.li {
    font-family: 'Dancing Script', cursive;
    text-align: left;
    text-decoration: none;
    font-size: 30px;
    color: white;
}